@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --main-font: "Poppins", sans-serif, arial;
    --logo-font: ;
}

* {
    font-family: var(--main-font);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}

body.no-scroll {
    overflow: hidden;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.1rem;
    z-index: 9;
    background-color: #fff;
}

.toggle-btn {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: transparent;
}

.menu-mobile {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #0000002a;
    backdrop-filter: blur(10px);
    transition: 0.6s ease-in-out;

    button {
        padding: 10px;
        font-weight: 800;
    }

    nav {
        height: 100%;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        height: 90%;

        list-style: none;
        text-align: center;
    }

    a {
        text-decoration: none;
        font-size: 2.3rem;
        color: #000;

        &:hover {
            text-decoration: underline;
        }
    }
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90dvh;
    overflow: hidden;
    background-image: linear-gradient(
        to top, #ffffff, transparent, transparent, transparent
    );

    .hero-widgets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.1rem;

        width: 100%;
        height: 70%;
        text-align: center;
    }

    .video-bg {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
        
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    button {
        cursor: pointer;
        padding: 10px 15px;
        font-size: 1.1rem;
        font-weight: 600;

        border: 1px solid;
        border-radius: 40px;
        outline: none;
        background-color: transparent;
    }
}

