@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
    --title-font: "Dancing Script", "cursive" , arial, sans-serif;
    --main-font: "Poppins", sans-serif, arial;
    --cor-principal: #A8BF56;
    --cor-secundaria: #D5F26D;
}

* {
    font-family: var(--main-font);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}

body.no-scroll {
    overflow: hidden;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.2rem;
    z-index: 9;
    background-color: var(--cor-principal);
    color: #fff;
}

.logo {
    font-family: var(--logo-font);
}

.toggle-btn {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
}

.menu-mobile {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: var(--cor-principal);
    transition: 0.6s ease-in-out;

    button {
        padding: 10px;
        font-weight: 800;
    }

    nav {
        height: 100%;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        height: 90%;

        list-style: none;
        text-align: center;
    }

    a {
        text-decoration: none;
        font-size: 2.3rem;
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90dvh;
    overflow: hidden;
    background-color: #0000ff56;

    .hero-widgets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.1rem;

        width: 100%;
        height: 70%;
        text-align: center;
        color: #fff;
    }

    .video-bg {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
        
        
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    button {
        cursor: pointer;
        padding: 10px 15px;
        font-size: 1.1rem;
        font-weight: 600;

        border: 1px solid var(--cor-secundaria);
        border-radius: 40px;
        outline: none;
        background-color: var(--cor-principal);
        color: #fff;
    }
}

.benefits {
    display: grid;
    grid-template-columns: 1fr;
    gap: .9rem;
    height: auto;
    padding-block: 1.2rem;
    text-align: center;
    background-color: #ff00002f;

    h2 {
        font-size: 9vw;
        border-bottom: 3px solid;
        width: max-content;
        margin: auto;
    }

    .benefits-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 80%;
        height: 100%;
        padding: 1.1rem 1.2rem;
        margin: auto;
        border-radius: 10px;
        border: 1px solid;
        transition: .5s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        h3 {
            width: 100%;
        }

        p {
            padding-block: 1rem;
            width: 70%;
        }
    }
}

.testimonials {
    padding-block: 1.2rem;
    background-color: #fffb0044;

    h2 {
        font-size: 9vw;
        border-bottom: 3px solid;
        width: max-content;
        margin: auto;
    }

    .testimonials-container {
        border: 1px solid;

        .card-list {
            list-style: none;
            border: 1px solid;

            .card {
                user-select: none;
                display: block;
                height: 300px;
                padding: 1.2rem;
                margin: auto;
                border-radius: 10px;
                border: 1px solid;
                font-size: 1.1rem;

                .profile {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 1.2rem;
                }

                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                }

                p {

                    width: 100%;
                    margin-block-start: 1.3rem;
                }
            }
        }
    }
}