@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root {
    --h1-font: "DM Serif Display", Serif, arial, sans-serif;
    --h2-font: "Pacifico", "cursive", arial, sans-serif;
    --main-font: "Poppins", sans-serif, arial;
    --cor-1: #31572c;
    --cor-2: #4f772d;
    --cor-3: #90a955;
    --cor-4: #ecf39e;
    --cor-5: #132a13;
}

* {
    font-family: var(--main-font);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}

body.no-scroll {
    overflow: hidden;
}

h2 {
    font-family: var(--h2-font);
    font-size: 2.5rem;
    font-weight: normal;
    border-bottom: 3px solid;
    width: max-content;
    margin: auto;
    color: var(--cor-5);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.2rem;
    z-index: 9;
    background-color: var(--cor-1);
    color: #fff;
}

.logo h1 {
    font-family: var(--h1-font);
}

.menu-desk {
    display: none;
}

.toggle-btn {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
}

.menu-mobile {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: var(--cor-1);
    transition: 0.6s ease-in-out;

    button {
        padding: 10px;
        font-weight: 800;
    }

    nav {
        height: 100%;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        height: 90%;

        list-style: none;
        text-align: center;
    }

    a {
        text-decoration: none;
        font-family: var(--h2-font);
        font-size: 3rem;
        font-weight: normal;
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130dvh;
    overflow: hidden;
    background-image: linear-gradient(
        to top, var(--cor-4), transparent, transparent, transparent
    );

    .hero-widgets {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.1rem;

        width: 100%;
        height: 70%;
        text-align: center;
        color: #fff;
    }

    .video-bg {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
    }

    h1 {
        font-size: 2.3rem;
        text-shadow: 3px 3px 5px #000;
    }

    p {
        font-size: 1.2rem;
        text-shadow: 3px 3px 5px #000;
    }

    button {
        cursor: pointer;
        padding: 10px 15px;
        font-size: 1.1rem;
        font-weight: 600;
        border-radius: 40px;
        outline: none;
        border: none;
        box-shadow: 0 8px 10px #00000081;
        background-color: var(--cor-2);
        color: #fff;
        transition: .3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}


.benefits {
    height: auto;
    padding-block: 1.2rem;
    text-align: center;
    background-color: #ecf39e;

    .benefits-box {
        display: grid;
        grid-template-columns: 1fr;
        gap: .9rem;
        padding-block: 1rem;
    }

    .benefits-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 80%;
        height: 100%;
        padding: 1.1rem 1.2rem;
        margin: auto;
        border-radius: 10px;
        color: var(--cor-5);
        box-shadow: 0 8px 10px #00000081;
        background-color: var(--cor-3);
        transition: .5s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        h3 {
            width: 100%;
        }

        p {
            padding-block: 1rem;
            width: 70%;
        }
    }
}

.testimonials {
    padding-block: 1.2rem;
    background-color: var(--cor-3);

    .testimonials-container {
        .card-list {
            display: grid;
            grid-template-columns: 1fr;
            list-style: none;

            .card {
                width: 70%;
                height: 300px;
                padding: 1.2rem;
                margin: 1.1rem auto;
                border-radius: 10px;
                font-size: 1.1rem;
                box-shadow: 0 8px 10px #0000006c;
                background-color: var(--cor-4);

                .profile {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 1.2rem;
                }

                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    margin-bottom: .9rem;
                }
            }
        }
    }
}

.sign-up {
    padding-block: 1.2rem;
    background-color: #ecf39e;

    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            max-width: 80%;
            margin-block: 1rem;
        }
    }

    button {
        width: 90%;
        padding: 10px 15px;
        font-size: 1.2rem;
        font-weight: 600;
        color: #fff;
        border-radius: 40px;
        border: none;
        outline: none;
        background-color: #90a955;
    }
}

.input-box {
    width: 90%;
    padding: 2px 5px 2px 2px;
    border-radius: 40px;
    background-color: var(--cor-3);

    input {
        width: 90%;
        padding: 10px 15px;
        font-size: 1.2rem;
        border: none;
        border-radius: 40px;
        outline: none;
    }

    label {
        font-size: 1.2rem;
        font-weight: 600;
        color: #fff;
    }
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
    margin-block: 1.2rem;

    a {
        width: 50px;
        height: 50px;

        text-decoration: none;
        text-align: center;
        line-height: 50px;
        font-size: 1.5rem;

        border-radius: 10px;
        background-color: var(--cor-3);
        color: #fff;
        transition: 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: #fff;
    background-color: #132a13;

    a {
        text-decoration: none;
        color: #fff;
    }
}